.App {
	text-align: center;
	touch-action: none;
}

.loading {
	height: 100vh;
	width: 100vw;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.loader {
	width: 60px;
}

.loader-wheel {
	animation: spin 1s infinite linear;
	border: 2px solid rgba(30, 30, 30, 0.5);
	border-left: 4px solid #fff;
	border-radius: 50%;
	height: 50px;
	margin-bottom: 10px;
	width: 50px;
}

.loader-text {
	color: #fff;
	font-family: arial, sans-serif;
}

.loader-text:after {
	content: 'Loading';
	animation: load 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
